<div class="item product">
  <h3>
    <a class="details-link" href="/products/<%= product.id %>"
      ><%= product.name %></a
    >
  </h3>
  <p><%= parseFloat(product.price).toFixed(2) %>€</p>
  <p><%= product.stockQuantity %></p>
  <% if(product.isActive) { %>
  <p>Enabled</p>
  <% } else { %>
  <p>Disabled</p>
  <% } %> <%- include("../partials/productButtons.ejs") %>
</div>
