<main>
  <div class="item-container">
    <div class="item-section">
      <h3>Name:</h3>
      <p><%= product.name %></p>
    </div>
    <div class="item-section">
      <h3>Description:</h3>
      <p><%= product.description %></p>
    </div>
    <div class="item-section">
      <h3>Stock:</h3>
      <p><%= product.stockQuantity %></p>
    </div>
    <div class="item-section">
      <h3>Price:</h3>
      <p><%= product.price %>€</p>
    </div>
    <div class="item-section">
      <h3>Availability:</h3>
      <% if(product.isActive) { %>
      <p>Enabled</p>
      <% } else { %>
      <p>Disabled</p>
      <% } %>
    </div>
    <%- include("../partials/productButtons.ejs") %>
  </div>
</main>
